<!--component html goes here -->
<StackLayout class="goals" id="sales">
    <StackLayout class="welcome" id="about">
        <Label class="title h2" text="BEST SALES" textWrap="true"></Label>
        <GridLayout rows="*" columns="*,*" class="col-sm-6 banner-top banner-bottom">
            <StackLayout col="0" class="banner-top-in at">
                <Image src="images/4.jpg" class="img-responsive"></Image>
            </StackLayout>
            <StackLayout col="1" class="cart-at grid_1 simpleCart_shelfItem">
                <StackLayout>
                    <Label class="item_price" text="180 $" textWrap="true"></Label>
                    <Label text="35% off !" textWrap="true"></Label>
                    <Label class="p" text="White Blended Cotton still fresh  t-shirt" textWrap="true "></Label>
                </StackLayout>
            </StackLayout>
        </GridLayout>
        <GridLayout rows="* " columns="*,* " class="col-sm-6 banner-top banner-bottom ">
            <StackLayout col="0 " class="banner-top-in at ">
                <Image src="images/5.jpg " class="img-responsive "></Image>
            </StackLayout>
            <StackLayout col="1 " class="cart-at grid_1 simpleCart_shelfItem ">
                <StackLayout>
                    <Label class="item_price " text="123 $ " textWrap="true "></Label>
                    <Label text="50% off ! " textWrap="true "></Label>
                    <Label class="p " text="White Blended Cotton Orange Top Kurti still fresh t-shirt " textWrap="true "></Label>
                </StackLayout>
            </StackLayout>
        </GridLayout>
    </StackLayout>
</StackLayout>

<!--
<div class="goals " id="sales ">
    <div class="welcome " id="about ">
        <h2 class="tittle ">BEST SALES</h2>
        <div class="col-sm-6 banner-top banner-bottom ">
            <a href="# ">
                <div class="banner-top-in at ">
                    <img src="images/4.jpg " class="img-responsive " alt=" ">
                </div>
            </a>
            <div class="cart-at grid_1 simpleCart_shelfItem ">
                <div class="item_add "><span class="item_price ">180 $ <i class="fa fa-shopping-cart "></i> </span></div>
                <div class="off ">
                    <label>35% off !</label>
                    <p>White Blended Cotton "still fresh " t-shirt</p>
                </div>
            </div>
            <div class="clearfix "> </div>

        </div>
        <div class="col-sm-6 banner-top banner-bottom ">
            <a href="# ">
                <div class="banner-top-in at ">
                    <img src="images/5.jpg " class="img-responsive " alt=" ">
                </div>
            </a>
            <div class="cart-at grid_1 simpleCart_shelfItem ">
                <div class="item_add "><span class="item_price ">123 $ <i class="fa fa-shopping-cart "></i> </span></div>
                <div class="off ">
                    <label>50% off !</label>
                    <p>White Blended Cotton "Orange Top " Kurti</p>
                </div>
            </div>
            <div class="clearfix "> </div>

        </div>
        <div class="clearfix "> </div>

    </div>
</div> -->