<!--component html goes here -->

<StackLayout class="login-grids">
    <Label class="h3 title two" text="Signup"></Label>
    <StackLayout class="login">
        <StackLayout class="login-left">
            <Label class="fb" text="Signin with Facebook"></Label>
            <Label class="goog" text="Signin with Google"></Label>
            <Label class="linkin" text="Signin with Linkedin"></Label>
        </StackLayout>
        <StackLayout class="login-right two">
            <Label class="h3" text="Create your Account"></Label>
            <TextField class="input" hint="Name"></TextField>
            <TextField class="input" hint="Phone"></TextField>
            <TextField class="input" hint="Email"></TextField>
            <TextField class="input" hint="Password" secure="true"></TextField>
            <Button class="btn" text="SEND"></Button>
        </StackLayout>
        <Label class="p" text="By logging in you agree to our Terms and Conditions</span> and Privacy Policy" textWrap="true"></Label>
    </StackLayout>
</StackLayout>
<div class="login-grids">
    <h3 class="tittle two">Sign Up</h3>
    <div class="login">
        <div class="login-left">
            <ul>
                <li><a class="fb" href="#"><i></i>Sign in with Facebook</a></li>
                <li><a class="goog" href="#"><i></i>Sign in with Google</a></li>
                <li><a class="linkin" href="#"><i></i>Sign in with Linkedin</a></li>
            </ul>
        </div>
        <div class="login-right two">
            <form>
                <h3>Create your account </h3>
                <input type="text" placeholder="Name" required="">
                <input type="text" placeholder="phone" required="">
                <input type="text" placeholder="Email" required="">
                <input type="password" placeholder="Password" required="">


                <input type="submit" value="SEND">

            </form>


        </div>
        <div class="clearfix"></div>
    </div>
    <p>By logging in you agree to our <span>Terms and Conditions</span> and <span>Privacy Policy</span></p>
</div>