<!--component html goes here -->
<div class="cont span_2_of_3 inner">
    <h3 class="tittle two">Get Shop</h3>
    <div class="labout span_1_of_a1">
        <!-- start product_slider -->
        <div class="flexslider">
            <ul class="slides">
                <li data-thumb="images/s11.jpg">
                    <div class="thumb-image"> <img src="images/s11.jpg" data-imagezoom="true" class="img-responsive"> </div>
                </li>
                <li data-thumb="images/s12.jpg">
                    <div class="thumb-image"> <img src="images/s12.jpg" data-imagezoom="true" class="img-responsive"> </div>
                </li>
                <li data-thumb="images/s13.jpg">
                    <div class="thumb-image"> <img src="images/s13.jpg" data-imagezoom="true" class="img-responsive"> </div>
                </li>
                <li data-thumb="images/s11.jpg">
                    <div class="thumb-image"> <img src="images/s11.jpg" data-imagezoom="true" class="img-responsive"> </div>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <!-- end product_slider -->
    </div>
    <div class="cont1 span_2_of_a1 pull-right">
        <h3 class="m_3">Lorem ipsum dolor sit amet</h3>

        <div class="price_single">
            <span class="reducedfrom">$66.00</span>
            <span class="actual">$12.00</span> <a href="#">click for offer</a>
        </div>
        <ul class="options list-unstyled">
            <h4 class="m_9">Select a Size</h4>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
            <div class="clearfix"></div>
        </ul>
        <div class="btn_form">
            <form>
                <input type="submit" value="buy now" title="">
            </form>
        </div>
        <ul class="add-to-links list-unstyled">
            <li><i class="fa fa-heart-o"></i> <a href="#">Add to Wish list</a></li>
        </ul>
        <p class="m_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

        <div class="social_single">
            <ul list-unstyled>
                <li class="fb"><a href="#"><span> </span></a></li>
                <li class="tw"><a href="#"><span> </span></a></li>
                <li class="g_plus"><a href="#"><span> </span></a></li>
                <li class="rss"><a href="#"><span> </span></a></li>
            </ul>
        </div>
    </div>

    <div class="clearfix"></div>
</div>