<!--component html goes here -->


<StackLayout class="categories-section main-grid-border" id="latest">
    <StackLayout class="inner-products">
        <Label class="h3 tittle two" text="Latest Products" textWrap="true"></Label>
        <StackLayout class="category-list">
            <StackLayout class="resp-tabs-list hor_1">
                <Accordion [items]="items" itemTapped="tapped" headerTextBold="true" headerTextColor="white" headerColor="pink" headerTextColor="blue" allowMultiple="true" selectedIndex="2">
                    <template accordionHeaderTemplate let-item="item" let-i="index">
                    <GridLayout backgroundColor="blue" columns="auto,*">
                        <Label [text]="item.title"></Label>
                    </GridLayout>
                    </template>

                    <template accordionItemTemplate let-item="item" let-parent="parentIndex" let-even="even" let-child="childIndex">
                    <StackLayout>
                        <Image [src]="item.image"></Image>
                        <Label [text]="item.text"></Label>
                    </StackLayout>
                    </template>

                    <!-- IOS Only -->
                    <template accordionFooterTemplate let-item="item" let-i="index">
                    <GridLayout backgroundColor="yellow" columns="auto,*">
                        <Label [text]="item.footer"></Label>
                        <Label col="1" text="-"></Label>
                        </GridLayout>
                    </template>
                    <!-- IOS Only -->
                </Accordion>
            </StackLayout>
        </StackLayout>
    </StackLayout>
</StackLayout>

<!--
<div class="categories-section main-grid-border" id="latest">
    <div class="inner-products">
        <h3 class="tittle two">Latest Products</h3>
        <div class="category-list">
            <div id="parentVerticalTab">
                <ul class="resp-tabs-list hor_1">
                    <li>Foot Wear</li>
                    <li>Watches</li>
                    <li>Goggles</li>
                    <li>Bags</li>


                </ul>
                <div class="resp-tabs-container hor_1">
                    <span class="active total" style="display:block;" data-toggle="modal" data-target="#myModal"><strong>All Products</strong> (Select your Product)</span>
                    <div>
                        <div class="category">
                            <div class="img-top simpleCart_shelfItem">

                                <img src="images/pi2.jpg" class="img-responsive" alt="" />
                                <div class="tab_desc">
                                    <ul class="round-top">
                                        <li><a href="#"><i class="glyphicon glyphicon-search"> </i></a></li>
                                        <li><a href="#"><i class="glyphicon glyphicon-resize-small"> </i></a></li>
                                    </ul>

                                    <div class="agency ">
                                        <div class="agency-left">
                                            <h6 class="jean">Heel</h6>
                                            <span class="dollor item_price">$50.00</span>
                                            <div class="clearfix"> </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-in">
                                    <p>New</p>
                                </div>
                            </div>
                            <div class="img-top simpleCart_shelfItem">

                                <img src="images/pi3.jpg" class="img-responsive" alt="" />
                                <div class="tab_desc">
                                    <ul class="round-top">
                                        <li><a href="#"><i class="glyphicon glyphicon-search"> </i></a></li>
                                        <li><a href="#"><i class="glyphicon glyphicon-resize-small"> </i></a></li>
                                    </ul>

                                    <div class="agency ">
                                        <div class="agency-left">
                                            <h6 class="jean">Shoes</h6>
                                            <span class="dollor item_price">$50.00</span>
                                            <div class="clearfix"> </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-in">
                                    <p>New</p>
                                </div>
                            </div>
                            <div class="img-top simpleCart_shelfItem">

                                <img src="images/pi4.jpg" class="img-responsive" alt="" />
                                <div class="tab_desc">
                                    <ul class="round-top">
                                        <li><a href="#"><i class="glyphicon glyphicon-search"> </i></a></li>
                                        <li><a href="#"><i class="glyphicon glyphicon-resize-small"> </i></a></li>
                                    </ul>

                                    <div class="agency ">
                                        <div class="agency-left">
                                            <h6 class="jean">Shoes</h6>
                                            <span class="dollor item_price">$50.00</span>
                                            <div class="clearfix"> </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-in">
                                    <p>Sale <span>30%</span></p>

                                </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>

                    </div>
                    <div>
                        <div class="category">
                            <div class="img-top simpleCart_shelfItem">

                                <img src="images/pi8.jpg" class="img-responsive" alt="" />
                                <div class="tab_desc">
                                    <ul class="round-top">
                                        <li><a href="#"><i class="glyphicon glyphicon-search"> </i></a></li>
                                        <li><a href="#"><i class="glyphicon glyphicon-resize-small"> </i></a></li>
                                    </ul>
                                    <div class="agency ">
                                        <div class="agency-left">
                                            <h6 class="jean">Watch</h6>
                                            <span class="dollor item_price">$50.00</span>
                                            <div class="clearfix"> </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-in">
                                    <p>New</p>
                                </div>
                            </div>
                            <div class="img-top simpleCart_shelfItem">

                                <img src="images/pi9.jpg" class="img-responsive" alt="" />
                                <div class="tab_desc">
                                    <ul class="round-top">
                                        <li><a href="#"><i class="glyphicon glyphicon-search"> </i></a></li>
                                        <li><a href="#"><i class="glyphicon glyphicon-resize-small"> </i></a></li>
                                    </ul>
                                    <div class="agency ">
                                        <div class="agency-left">
                                            <h6 class="jean">Watch</h6>
                                            <span class="dollor item_price">$50.00</span>
                                            <div class="clearfix"> </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-in">
                                    <p>New</p>
                                </div>
                            </div>
                            <div class="img-top simpleCart_shelfItem">

                                <img src="images/pi10.jpg" class="img-responsive" alt="" />
                                <div class="tab_desc">
                                    <ul class="round-top">
                                        <li><a href="#"><i class="glyphicon glyphicon-search"> </i></a></li>
                                        <li><a href="#"><i class="glyphicon glyphicon-resize-small"> </i></a></li>
                                    </ul>

                                    <div class="agency ">
                                        <div class="agency-left">
                                            <h6 class="jean">Watch</h6>
                                            <span class="dollor item_price">$50.00</span>
                                            <div class="clearfix"> </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-in col-in-1">
                                    <p>Sale <span>30%</span></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>


                        </div>

                    </div>
                    <div>
                        <div class="category">
                            <div class="img-top simpleCart_shelfItem">

                                <img src="images/pi5.jpg" class="img-responsive" alt="" />
                                <div class="tab_desc">
                                    <ul class="round-top">
                                        <li><a href="#"><i class="glyphicon glyphicon-search"> </i></a></li>
                                        <li><a href="#"><i class="glyphicon glyphicon-resize-small"> </i></a></li>
                                    </ul>
                                    <div class="agency ">
                                        <div class="agency-left">
                                            <h6 class="jean">Goggles</h6>
                                            <span class="dollor item_price">$50.00</span>
                                            <div class="clearfix"> </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-in">
                                    <p>New</p>
                                </div>
                            </div>
                            <div class="img-top simpleCart_shelfItem">

                                <img src="images/pi6.jpg" class="img-responsive" alt="" />
                                <div class="tab_desc">
                                    <ul class="round-top">
                                        <li><a href="#"><i class="glyphicon glyphicon-search"> </i></a></li>
                                        <li><a href="#"><i class="glyphicon glyphicon-resize-small"> </i></a></li>
                                    </ul>
                                    <div class="agency ">
                                        <div class="agency-left">
                                            <h6 class="jean">Goggles</h6>
                                            <span class="dollor item_price">$50.00</span>
                                            <div class="clearfix"> </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-in">
                                    <p>New</p>
                                </div>
                            </div>
                            <div class="img-top simpleCart_shelfItem">

                                <img src="images/pi7.jpg" class="img-responsive" alt="" />
                                <div class="tab_desc">
                                    <ul class="round-top">
                                        <li><a href="#"><i class="glyphicon glyphicon-search"> </i></a></li>
                                        <li><a href="#"><i class="glyphicon glyphicon-resize-small"> </i></a></li>
                                    </ul>

                                    <div class="agency ">
                                        <div class="agency-left">
                                            <h6 class="jean">Goggles</h6>
                                            <span class="dollor item_price">$50.00</span>
                                            <div class="clearfix"> </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-in col-in-1">
                                    <p>Sale <span>30%</span></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>


                        </div>

                    </div>
                    <div>
                        <div class="category">
                            <div class="img-top simpleCart_shelfItem">

                                <img src="images/pi11.jpg" class="img-responsive" alt="" />
                                <div class="tab_desc">
                                    <ul class="round-top">
                                        <li><a href="#"><i class="glyphicon glyphicon-search"> </i></a></li>
                                        <li><a href="#"><i class="glyphicon glyphicon-resize-small"> </i></a></li>
                                    </ul>
                                    <div class="agency ">
                                        <div class="agency-left">
                                            <h6 class="jean">Bag</h6>
                                            <span class="dollor item_price">$50.00</span>
                                            <div class="clearfix"> </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-in">
                                    <p>New</p>
                                </div>
                            </div>
                            <div class="img-top simpleCart_shelfItem">

                                <img src="images/pi12.jpg" class="img-responsive" alt="" />
                                <div class="tab_desc">
                                    <ul class="round-top">
                                        <li><a href="#"><i class="glyphicon glyphicon-search"> </i></a></li>
                                        <li><a href="#"><i class="glyphicon glyphicon-resize-small"> </i></a></li>
                                    </ul>
                                    <div class="agency ">
                                        <div class="agency-left">
                                            <h6 class="jean">Bag</h6>
                                            <span class="dollor item_price">$50.00</span>
                                            <div class="clearfix"> </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-in">
                                    <p>New</p>
                                </div>
                            </div>
                            <div class="img-top simpleCart_shelfItem">

                                <img src="images/pi13.jpg" class="img-responsive" alt="" />
                                <div class="tab_desc">
                                    <ul class="round-top">
                                        <li><a href="#"><i class="glyphicon glyphicon-search"> </i></a></li>
                                        <li><a href="#"><i class="glyphicon glyphicon-resize-small"> </i></a></li>
                                    </ul>

                                    <div class="agency ">
                                        <div class="agency-left">
                                            <h6 class="jean">Bag</h6>
                                            <span class="dollor item_price">$50.00</span>
                                            <div class="clearfix"> </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-in col-in-1">
                                    <p>Sale <span>30%</span></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>


                        </div>

                    </div>

                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

    -->