<!--component html goes here -->
<StackLayout class="contact" id="contact">
    <StackLayout class="contact-bottom">
        <StackLayout class="contact_inner">
            <Label class-"h3" text="Contact Us"></Label>
        </StackLayout>
        <StackLayout class="sing-up-icon text-center">

        </StackLayout>
        <StackLayoutclass="contact form">
            <StackLayout class="styled-input">
                <TextField class="input" hint="Name"></TextField>
            </StackLayout>
            <StackLayout class="styled-input">
                <TextField class="input" hint="Email"></TextField>
            </StackLayout>
            <StackLayout class="styled-input">
                <TextField class="input" hint="Phone"></TextField>
            </StackLayout>
            <StackLayout class="styled-input">
                <TextArea class="input" hint="Message"></TextField>
            </StackLayout>
            <StackLayout class="send">
                <Button class="input" text="SEND"></Button>
            </StackLayout>
        </StackLayout>
    </StackLayout>
</StackLayout>
<!--
<div class="contact" id="contact">

    <div class="contact-bottom">
        <div class="contact_inner">

            <h3>Contact Us</h3>
        </div>
        <div class="sing-up-icon text-center"></div>
        <form class="contact">
            <div class="styled-input">
                <input type="text" required />
                <label>Name</label>
                <span></span> </div>
            <div class="styled-input">
                <input type="email" required />
                <label>Email</label>
                <span></span> </div>
            <div class="styled-input">
                <input type="tel" required />
                <label>Phone</label>
                <span></span> </div>
            <div class="styled-input">
                <textarea required></textarea>
                <label>Message</label>
                <span></span> </div>
            <div class="send">
                <input type="submit" value="Send">
            </div>
        </form>

    </div>
</div> -->